body{
    font-family: 'Roboto', sans-serif;

}
h3{
  margin-left:35%;
  margin-top:3vh;
  color:#8f246b;
}
p{
  
}
  input[type='button']{
    font-size:12px;
    }
    #parentContainer{
        width:100%;
        background: #eeeeee;
        margin-top:2%;
        padding:20px;
    
      }
      
      .searchDiv{
        background:#b82e8a;
        border: 1px solid  #ebadd6;
        width:80%;
        padding:1%;
        height:min-content;
      }
     .searchDiv p {
        color:#ffffff;
        width:80%;
        font-size:18px;
text-align: center;
margin-left: 8%;
      }
 

